/*
 Arwed Mett, Dominic Steinhauser
 */
 
@footer-background: #ECECEC;
@background-color: #fff;
@content-background: rgba(236, 236, 236, 0.6);
@cape-honey: rgba(253, 227, 167, 1);
@alice-blue: #E4F1FE;
@clouds: #F2F2F2;
@midnight-blue: #2c3e50;
@emerald: #D3D6D0;
@recommendation: #FBFFF7;
@navbarheader: #363D50;

