/*
* @author Arwed Mett, Dominic Steinhauser
*/

@import "colors.less";

.newsfeed .header {
    text-align: right;
    margin: 0;
    padding: 1em;
}

.newsfeed .addButton {
    margin-right: 1.3em;
}

