/*
* @author Arwed Mett
*/

@import "colors.less";
@import "action-buttons.less";

.recommendation {
    diplay: block;
    position: relative;
    background-color: @recommendation;
	padding: 1em;
    margin: 1em;
    position: relative;
}

.recommendation .actions {
    display: block;
    position: absolute;
    right: -0.3em;
    bottom: -0.3em;
}

.recommendation .actions .trigger {
    .actionButton
}

.recommendation .accept:hover {
    background-color: @acceptColor;
}
.recommendation .reject:hover {
    background-color: @rejectColor;
}

.recommendation * {
    text-overflow: ellipsis;
    word-wrap: break-word;
}
